body {
    background: #333;
    color: #fff;
}

.markdown-body {
    background: #222;
    color: #fff;
    padding: 10px;
    border: 1px dashed #444;
}

.markdown-body img {
    background: transparent !important;
}

#crasowasdev {
    font-size: 50px !important;
    text-align: center;
    border-bottom: 1px dashed #444 !important;
    display: block;
}

h1 {
    display: none;
}

h2 {
    font-size: 24px !important;
    border-bottom: 1px dashed #444 !important;
}

li {
    font-size: 20px !important;
}

a {
    color: #fff;
}

a:hover {
    color: #aaa;
}