body {
    background: #333;
    color: #fff;
}

.markdown-body {
    background: #222;
    color: #fff;
    padding: 10px;
    border: 1px dashed #444;
}

h1 {
    font-size: 50px;
    text-align: center;
    border-bottom: 1px dashed #444 !important;
}

h2 {
    font-size: 25px;
    border-bottom: 1px dashed #444 !important;
}

li {
    font-size: 20px;
}

a {
    color: #fff;
}

a:hover {
    color: #aaa;
}